@model IEnumerable<ItemModel>
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
 <div class="album py-5 ">
    <div class="container">
        <h3 style="text-align:center">All Products</h3>
        <div class="row">
        @foreach(var item in Model)
        {

                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.CoverImageUrl" width="100%" height="225" alt="Card Image Cap">
                        <div class="card-body">
                            <p class="card-text" style="text-align:center"><strong>@item.Name</strong></p>
                            <div class="d-flex justify-content-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Item" asp-action="GetItem" asp-route-id="@item.Id"
                                       class="btn btn-sm btn-outline-secondary">View Details</a>
                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                    {
                                        <a type="btn btn-success" asp-controller="Item" asp-action="EditProduct" asp-route-id="@item.Id"
                                           class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a type="btn btn-success" asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id"
                                           class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") == false)
                                    {
                                        <a type="btn btn-success" onclick="add(@item.Id)"
                                           class="btn btn-sm btn-outline-secondary">add to cart</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     
         }
     </div>
  </div>
 </div>


 
@section Scripts{
    <script>

        async function add(itemId) {
            try {
                var response = await fetch(`/Cart/AddItem?itemId=${itemId}`);
                if (response.status == 200) {
                    var result = await response.json();

                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            }
            catch (err) {
                console.log(err);
            }

        }
    </script>
}